<h1>{{title}}</h1>
<label>Adress: </label>
<span>{{deployedAddress}}</span><br>
<label>Contract owner: </label>
<span>{{ownerOfEmploymentContract}}</span><br>
<label>Default account: </label>
<span>{{defaultAccount}}</span><br>
<label>Employee name: </label>
<span>{{employeeName}}</span><br>


